name: Release

on:
  push:
    tags:
    - 'v*'

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@master
    - name: Setup Go # for ghr in make upload
      uses: actions/setup-go@v1
      with:
        go-version: 1.x
    - name: Cross build
      run: make crossdocker
    - name: Create Release
      id: create_release
      uses: actions/create-release@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
    - name: Upload
      run: |
        export PATH=$PATH:$(go env GOPATH)/bin # will be removed
        make upload
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
